## 0. Предварительные действия

In [37]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# импортируем библиотеки для визуализации
import matplotlib.pyplot as plt
import seaborn as sns 
%matplotlib inline

# Загружаем специальный удобный инструмент для разделения датасета:
from sklearn.model_selection import train_test_split

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

#import os
#for dirname, _, filenames in os.walk('/kaggle/input'):
    #for filename in filenames:
        #print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All" 
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

In [38]:
!pip install pycountry

Requirement already satisfied: pycountry in c:\users\dmytr\appdata\local\programs\python\python312\lib\site-packages (24.6.1)

In [39]:
# всегда фиксируйте RANDOM_SEED, чтобы ваши эксперименты были воспроизводимы!
RANDOM_SEED = 42

In [40]:
# зафиксируем версию пакетов, чтобы эксперименты были воспроизводимы:
!pip freeze > requirements.txt

In [41]:
DATA_DIR = 'D:/Python/IDE/project_3/data'
df_train = pd.read_csv(DATA_DIR+'/hotels_train.csv') # датасет для обучения
df_test = pd.read_csv(DATA_DIR+'/hotels_test.csv') # датасет для предсказания
sample_submission = pd.read_csv(DATA_DIR+'/submission.csv') # самбмишн

In [42]:
# Подгрузим наши данные из соревнования

#DATA_DIR = '/kaggle/input/sf-booking/'
#df_train = pd.read_csv(DATA_DIR+'/hotels_train.csv') # датасет для обучения
#df_test = pd.read_csv(DATA_DIR+'hotels_test.csv') # датасет для предсказания
#sample_submission = pd.read_csv(DATA_DIR+'/submission.csv') # самбмишн

In [43]:
df_train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 386803 entries, 0 to 386802
Data columns (total 17 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               386803 non-null  object
 1   additional_number_of_scoring                386803 non-null  int64
 2   review_date                                 386803 non-null  object
 3   average_score                               386803 non-null  float64
 4   hotel_name                                  386803 non-null  object
 5   reviewer_nationality                        386803 non-null  object
 6   negative_review                             386803 non-null  object
 7   review_total_negative_word_counts           386803 non-null  int64
 8   total_number_of_reviews                     386803 non-null  int64
 9   positive_review                             386803 non-null  object
 10  review_total_positive_word_counts           386803 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  386803 non-null  int64
 12  reviewer_score                              386803 non-null  float64
 13  tags                                        386803 non-null  object
 14  days_since_review                           386803 non-null  object
 15  lat                                         384355 non-null  float64
 16  lng                                         384355 non-null  float64
dtypes: float64(4), int64(5), object(8)
memory usage: 50.2+ MB

In [44]:
df_train.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,reviewer_score,tags,days_since_review,lat,lng
0,Stratton Street Mayfair Westminster Borough Lo...,581,2/19/2016,8.4,The May Fair Hotel,United Kingdom,Leaving,3,1994,Staff were amazing,4,7,10.0,"[' Leisure trip ', ' Couple ', ' Studio Suite ...",531 day,51.507894,-0.143671
1,130 134 Southampton Row Camden London WC1B 5AF...,299,1/12/2017,8.3,Mercure London Bloomsbury Hotel,United Kingdom,poor breakfast,3,1361,location,2,14,6.3,"[' Business trip ', ' Couple ', ' Standard Dou...",203 day,51.521009,-0.123097

In [45]:
df_test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128935 entries, 0 to 128934
Data columns (total 16 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               128935 non-null  object
 1   additional_number_of_scoring                128935 non-null  int64
 2   review_date                                 128935 non-null  object
 3   average_score                               128935 non-null  float64
 4   hotel_name                                  128935 non-null  object
 5   reviewer_nationality                        128935 non-null  object
 6   negative_review                             128935 non-null  object
 7   review_total_negative_word_counts           128935 non-null  int64
 8   total_number_of_reviews                     128935 non-null  int64
 9   positive_review                             128935 non-null  object
 10  review_total_positive_word_counts           128935 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  128935 non-null  int64
 12  tags                                        128935 non-null  object
 13  days_since_review                           128935 non-null  object
 14  lat                                         128115 non-null  float64
 15  lng                                         128115 non-null  float64
dtypes: float64(3), int64(5), object(8)
memory usage: 15.7+ MB

In [46]:
df_test.head(2)

,hotel_address,additional_number_of_scoring,review_date,average_score,hotel_name,reviewer_nationality,negative_review,review_total_negative_word_counts,total_number_of_reviews,positive_review,review_total_positive_word_counts,total_number_of_reviews_reviewer_has_given,tags,days_since_review,lat,lng
0,Via Senigallia 6 20161 Milan Italy,904,7/21/2017,8.1,Hotel Da Vinci,United Kingdom,Would have appreciated a shop in the hotel th...,52,16670,Hotel was great clean friendly staff free bre...,62,1,"[' Leisure trip ', ' Couple ', ' Double Room '...",13 days,45.533137,9.171102
1,Arlandaweg 10 Westpoort 1043 EW Amsterdam Neth...,612,12/12/2016,8.6,Urban Lodge Hotel,Belgium,No tissue paper box was present at the room,10,5018,No Positive,0,7,"[' Leisure trip ', ' Group ', ' Triple Room ',...",234 day,52.385649,4.834443

In [47]:
sample_submission.head(2)

   reviewer_score      id
0               1  488440
1              10  274649

In [48]:
sample_submission.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 128935 entries, 0 to 128934
Data columns (total 2 columns):
 #   Column          Non-Null Count   Dtype
---  ------          --------------   -----
 0   reviewer_score  128935 non-null  int64
 1   id              128935 non-null  int64
dtypes: int64(2)
memory usage: 2.0 MB

In [49]:
# ВАЖНО! дря корректной обработки признаков объединяем трейн и тест в один датасет
df_train['sample'] = 1 # помечаем где у нас трейн
df_test['sample'] = 0 # помечаем где у нас тест
df_test['reviewer_score'] = 0 # в тесте у нас нет значения reviewer_score, мы его должны предсказать, по этому пока просто заполняем нулями

hotels = pd.concat([df_test, df_train], sort=False).reset_index(drop=True) # объединяем

In [50]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         512470 non-null  float64
 15  lng                                         512470 non-null  float64
 16  sample                                      515738 non-null  int64
 17  reviewer_score                              515738 non-null  float64
dtypes: float64(4), int64(6), object(8)
memory usage: 70.8+ MB

## 1. Базовая проверка качества датасета

In [51]:
# Ищем выводим колонки с пропуском
cols_null_percent = hotels.isnull().mean()*100
cols_with_null = cols_null_percent[cols_null_percent > 0].sort_values(ascending=False)
print(cols_with_null)

lat    0.633655
lng    0.633655
dtype: float64

In [52]:
# Временно заполняем нулями, но мы ещё вернёмся к этому
#hotels['lat'] = hotels['lat'].fillna(0)
#hotels['lng'] = hotels['lng'].fillna(0)

In [53]:
# Проверим, какие отели имеют пропуски в координатах - отелей мало, можем заполнить вручную погуглив адреса и координаты
hotels[hotels['lat'].isnull()]['hotel_address'].value_counts()

hotel_address
Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria    658
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria            563
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria       389
4 rue de la P pini re 8th arr 75008 Paris France               290
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria         245
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria          223
Savoyenstra e 2 16 Ottakring 1160 Vienna Austria               194
Sieveringer Stra e 4 19 D bling 1190 Vienna Austria            147
Bail n 4 6 Eixample 08010 Barcelona Spain                      146
Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria             93
Hasenauerstra e 12 19 D bling 1190 Vienna Austria               61
Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria        57
23 Rue Damr mont 18th arr 75018 Paris France                    55
Paragonstra e 1 11 Simmering 1110 Vienna Austria                49
20 Rue De La Ga t 14th arr 75014 Paris France                   37
Pau Clar s 122 Eixample 08009 Barcelona Spain                   33
Sep lveda 180 Eixample 08011 Barcelona Spain                    28
Name: count, dtype: int64

In [54]:
hotels[hotels['lng'].isnull()]['hotel_address'].value_counts()
# Убедились, что пропуски по тем же адресам

hotel_address
Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria    658
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria            563
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria       389
4 rue de la P pini re 8th arr 75008 Paris France               290
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria         245
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria          223
Savoyenstra e 2 16 Ottakring 1160 Vienna Austria               194
Sieveringer Stra e 4 19 D bling 1190 Vienna Austria            147
Bail n 4 6 Eixample 08010 Barcelona Spain                      146
Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria             93
Hasenauerstra e 12 19 D bling 1190 Vienna Austria               61
Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria        57
23 Rue Damr mont 18th arr 75018 Paris France                    55
Paragonstra e 1 11 Simmering 1110 Vienna Austria                49
20 Rue De La Ga t 14th arr 75014 Paris France                   37
Pau Clar s 122 Eixample 08009 Barcelona Spain                   33
Sep lveda 180 Eixample 08011 Barcelona Spain                    28
Name: count, dtype: int64

In [55]:
# Формируем таблицу и гуглим координаты
name_and_address = hotels[hotels['lat'].isnull()].groupby(['hotel_address', 'hotel_name']).count()[['lat', 'lng']]
name_and_address

,,lat,lng
hotel_address,hotel_name,,
20 Rue De La Ga t 14th arr 75014 Paris France,Mercure Paris Gare Montparnasse,0,0
23 Rue Damr mont 18th arr 75018 Paris France,Holiday Inn Paris Montmartre,0,0
4 rue de la P pini re 8th arr 75008 Paris France,Maison Albar Hotel Paris Op ra Diamond,0,0
Bail n 4 6 Eixample 08010 Barcelona Spain,NH Collection Barcelona Podium,0,0
Gr nentorgasse 30 09 Alsergrund 1090 Vienna Austria,City Hotel Deutschmeister,0,0
Hasenauerstra e 12 19 D bling 1190 Vienna Austria,Hotel Park Villa,0,0
Josefst dter Stra e 10 12 08 Josefstadt 1080 Vienna Austria,Fleming s Selection Hotel Wien City,0,0
Josefst dter Stra e 22 08 Josefstadt 1080 Vienna Austria,Cordial Theaterhotel Wien,0,0
Landstra er G rtel 5 03 Landstra e 1030 Vienna Austria,Hotel Daniel Vienna,0,0
Paragonstra e 1 11 Simmering 1110 Vienna Austria,Roomz Vienna,0,0
Pau Clar s 122 Eixample 08009 Barcelona Spain,Renaissance Barcelona Hotel,0,0
Savoyenstra e 2 16 Ottakring 1160 Vienna Austria,Austria Trend Hotel Schloss Wilhelminenberg Wien,0,0
Sep lveda 180 Eixample 08011 Barcelona Spain,Hotel Advance,0,0
Sieveringer Stra e 4 19 D bling 1190 Vienna Austria,Derag Livinghotel Kaiser Franz Joseph Vienna,0,0
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Austria,Hotel City Central,0,0
W hringer Stra e 12 09 Alsergrund 1090 Vienna Austria,Hotel Pension Baron am Schottentor,0,0
W hringer Stra e 33 35 09 Alsergrund 1090 Vienna Austria,Hotel Atlanta,0,0

In [56]:
# Будем делать индекс по адресам что бы потом им обновить основной датасет
hotels_null_coords = hotels[hotels['lat'].isnull()].groupby(['hotel_address']).count()[['lat', 'lng']]
hotels_null_coords

                                                    lat  lng
hotel_address
20 Rue De La Ga t 14th arr 75014 Paris France         0    0
23 Rue Damr mont 18th arr 75018 Paris France          0    0
4 rue de la P pini re 8th arr 75008 Paris France      0    0
Bail n 4 6 Eixample 08010 Barcelona Spain             0    0
Gr nentorgasse 30 09 Alsergrund 1090 Vienna Aus...    0    0
Hasenauerstra e 12 19 D bling 1190 Vienna Austria     0    0
Josefst dter Stra e 10 12 08 Josefstadt 1080 Vi...    0    0
Josefst dter Stra e 22 08 Josefstadt 1080 Vienn...    0    0
Landstra er G rtel 5 03 Landstra e 1030 Vienna ...    0    0
Paragonstra e 1 11 Simmering 1110 Vienna Austria      0    0
Pau Clar s 122 Eixample 08009 Barcelona Spain         0    0
Savoyenstra e 2 16 Ottakring 1160 Vienna Austria      0    0
Sep lveda 180 Eixample 08011 Barcelona Spain          0    0
Sieveringer Stra e 4 19 D bling 1190 Vienna Aus...    0    0
Taborstra e 8 A 02 Leopoldstadt 1020 Vienna Aus...    0    0
W hringer Stra e 12 09 Alsergrund 1090 Vienna A...    0    0
W hringer Stra e 33 35 09 Alsergrund 1090 Vienn...    0    0

In [57]:
hotels_coords = [[48.8399957, 2.3070823], 
           [48.8889127, 2.3309643], 
           [48.8753208, 2.3212033], 
           [41.391552, 2.1757053],
           [48.2208555, 16.3644228],
           [48.233592, 16.3434781],
           [48.2094054, 16.3512565],
           [48.2095525, 16.3492746],
           [48.1888183, 16.381591],
           [48.1868142, 16.418528],
           [41.3927888, 2.1673975],
           [48.219573, 16.2834034],
           [41.3832425, 2.1607609],
           [48.2458909, 16.3397395],
           [48.2135906, 16.3777195],
           [48.2168032, 16.357717],
           [48.220414, 16.3536299]]

In [58]:
hotels = hotels.set_index('hotel_address')
hotels.update(hotels_null_coords)
hotels = hotels.reset_index()

In [59]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         515738 non-null  float64
 15  lng                                         515738 non-null  float64
 16  sample                                      515738 non-null  int64
 17  reviewer_score                              515738 non-null  float64
dtypes: float64(4), int64(6), object(8)
memory usage: 70.8+ MB

In [60]:
# Сводка уникальных значений, разбираемся, что у нас будет категориальным признаком
hotels.nunique(dropna=False)

hotel_address                                   1493
additional_number_of_scoring                     480
review_date                                      731
average_score                                     34
hotel_name                                      1492
reviewer_nationality                             227
negative_review                               330011
review_total_negative_word_counts                402
total_number_of_reviews                         1142
positive_review                               412601
review_total_positive_word_counts                365
total_number_of_reviews_reviewer_has_given       198
tags                                           55242
days_since_review                                731
lat                                             1473
lng                                             1473
sample                                             2
reviewer_score                                    38
dtype: int64

In [61]:
# Ищем дубликаты
dupl_col=list(hotels.columns)
mask=hotels.duplicated(subset=dupl_col)
data_doubles=hotels[mask]
data_doubles.shape
# В таблице имеется 336 дубликатов. Однако, по условиям задачи удалять строки нельзя, так что пока оставим как есть.

(336, 18)

## 2. Работаем со столбцами

In [62]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 18 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  object
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  object
 14  lat                                         515738 non-null  float64
 15  lng                                         515738 non-null  float64
 16  sample                                      515738 non-null  int64
 17  reviewer_score                              515738 non-null  float64
dtypes: float64(4), int64(6), object(8)
memory usage: 70.8+ MB

### hotel_address

In [63]:
# Работаем с адресом отеля (страна)
import pycountry
countries = {c.name for c in pycountry.countries} | {c.official_name for c in pycountry.countries if hasattr(c, "official_name")} | {c.alpha_3 for c in pycountry.countries} | {c.alpha_2 for c in pycountry.countries}

def extract_country(address):
    for country in countries:
        if address.endswith(country):
            return country
    return None

# Применяем к колонке
hotels["country"] = hotels["hotel_address"].apply(extract_country)

In [64]:
# Смотрим, что получилось
hotels.country.value_counts()
# Получилось немного стран, попробуем выделить города

country
United Kingdom    262301
Spain              60149
France             59928
Netherlands        57214
Austria            38939
Italy              37207
Name: count, dtype: int64

In [65]:
# вытаскиваем город из адреса
def extract_city(addr):
    parts = addr.split()
    if parts[-2:] == ['United', 'Kingdom']:
        return parts[-5]  # для UK формаат адреса город код код United Kingdom
    else:
        return parts[-2]  # для всех остальных город перед страной

# Создаем признак city
hotels["city"] = hotels["hotel_address"].apply(extract_city)

In [66]:
hotels['city'].value_counts()

city
London       262301
Barcelona     60149
Paris         59928
Amsterdam     57214
Vienna        38939
Milan         37207
Name: count, dtype: int64

Пользы нет - в датасете все гостиницы из одной страны находятся в одном городе. Пока не удаляем - используем эти данные для лучшего заполнения координат

### Дата ревью

In [67]:
#Преобразуем в datetime
hotels['review_date'] = pd.to_datetime(hotels['review_date'], dayfirst=True, errors='coerce')

# Создаём признаки год, месяц, день недели и является ли день выходным. Дата будет очевидно не информативным признаком, вместо неё берём день недели
# и статус выходного (теория - "платные" накрутки чаще происходят в будний день)
hotels['year'] = hotels['review_date'].dt.year
hotels['month'] = hotels['review_date'].dt.month
hotels['dayofweek'] = hotels['review_date'].dt.weekday  # 0 = понедельник, 6 = воскресенье
hotels['is_weekend'] = (hotels['dayofweek'] >= 5).astype('int8')
hotels["quarter"] = hotels["review_date"].dt.quarter
hotels["weekofyear"] = hotels["review_date"].dt.isocalendar().week.astype("int16")

C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\3715416797.py:2: UserWarning: Parsing dates in %m/%d/%Y format when dayfirst=True was specified. Pass `dayfirst=False` or specify a format to silence this warning.
  hotels['review_date'] = pd.to_datetime(hotels['review_date'], dayfirst=True, errors='coerce')

In [68]:
#Сезоны
def season(m):
    return ("winter" if m in [12,1,2] else
            "spring" if m in [3,4,5] else
            "summer" if m in [6,7,8] else "autumn")
hotels["season"] = hotels["month"].map(season)
# Сразу кодируем через get_dummies
hotels = pd.get_dummies(hotels, columns=['season'], drop_first=True)

In [69]:
# Проверям все ли получилось
hotels[['year', 'month', 'dayofweek', 'is_weekend']].head()

   year  month  dayofweek  is_weekend
0  2017      7          4           0
1  2016     12          0           0
2  2015     11          3           0
3  2015     10          5           1
4  2016      5          0           0

### hotel_name

In [70]:
# сколько всего отзывов у отеля / города
hotels["hotel_reviews_cnt"] = hotels["hotel_name"].map(hotels["hotel_name"].value_counts())
hotels["city_reviews_cnt"]  = hotels["city"].map(hotels["city"].value_counts())

In [71]:
hotels['hotel_name'].describe()

count                                         515738
unique                                          1492
top       Britannia International Hotel Canary Wharf
freq                                            4789
Name: hotel_name, dtype: object

In [74]:
#Попробуем закодировать с помощью frequency и targetencoding
from sklearn.model_selection import KFold

# freq
freq = hotels['hotel_name'].value_counts()
hotels['hotel_name_freq'] = hotels['hotel_name'].map(freq).astype('int32')

#target
kf = KFold(n_splits=5, shuffle=True, random_state=42)
te = np.zeros(len(hotels))
for tr, va in kf.split(hotels):
    m = hotels.iloc[tr].groupby('hotel_name')['reviewer_score'].mean()
    te[va] = hotels.iloc[va]['hotel_name'].map(m)
hotels['hotel_name_te'] = te

In [75]:
#Альтернатива - довичное кодирование с помощью category_encoders
#import category_encoders as ce
#bin_encoder = ce.BinaryEncoder(cols=['hotel_name'])
#data_bin=bin_encoder.fit_transform(hotels['hotel_name'])
#hotels = pd.concat([hotels, data_bin], axis=1)

In [76]:
# Кодируем название отелей через get_dummies - тесты показали наилучший результат
#hotels = pd.get_dummies(hotels, columns=['hotel_name'], drop_first=True)

### reviewer_nationality

In [77]:
# Убираем пробелы в национальности
hotels["reviewer_nationality"] = hotels["reviewer_nationality"].str.strip()

In [78]:
a=hotels['reviewer_nationality'].value_counts()
print(len(a))

227

In [79]:
# Делаем признак того, что отзыв оставлен соотечественником (теория - те, кто ездят внутри страны имеют другие требования к отелю)
hotels['is_domestic'] = (
    hotels['reviewer_nationality'].astype(str).str.strip().str.casefold()
    == hotels['country'].astype(str).str.strip().str.casefold()
).astype('int8')

In [80]:
# Дополнительные признаки - поездка по стране для целей бизнес и поездка по стране для удовольствия
hotels["domestic_x_business"] = hotels["is_domestic"] * hotels.get("trip_business_trip", 0)
hotels["domestic_x_leisure"]  = hotels["is_domestic"] * hotels.get("trip_leisure_trip", 0)

In [81]:
import numpy as np
from sklearn.model_selection import KFold

# Frequency encoding (просто количество записей по стране)
freq = hotels['reviewer_nationality'].value_counts()
hotels['reviewer_nationality_freq'] = hotels['reviewer_nationality'].map(freq)

# Target encoding с защитой от NaN
kf = KFold(n_splits=5, shuffle=True, random_state=42)
te = np.zeros(len(hotels))

global_mean = hotels['reviewer_score'].mean()

for train_idx, val_idx in kf.split(hotels):
    means = hotels.iloc[train_idx].groupby('reviewer_nationality')['reviewer_score'].mean()
    # map + fillna глобальным средним
    te[val_idx] = hotels.iloc[val_idx]['reviewer_nationality'].map(means).fillna(global_mean)

hotels['reviewer_nationality_te'] = te

### negative_review/positive_review

In [82]:
# Работаем с текстом отрицательного отзыва negative_review через ntlk с полным набором скачанных пакетов
import re
import nltk
nltk.download('vader_lexicon')

from nltk.sentiment import SentimentIntensityAnalyzer

sia = SentimentIntensityAnalyzer()

def clean_text(s: str) -> str:
    if not isinstance(s, str): 
        return ""
    s = s.strip()
    s = re.sub(r"(https?://\S+)|(\S+@\S+)", " ", s)                     # удалим URL и email
    s = re.sub(r"[^A-Za-z0-9\s\.\,\!\?\-']", " ", s)                    # оставим только валидные символы
    s = re.sub(r"\s+", " ", s).strip()                                  # уберём лишние пробелы
    return s

# Очистка текста
hotels["neg_clean"] = hotels["negative_review"].map(clean_text)

# Признаки
hotels["neg_len_chars"] = hotels["neg_clean"].str.len()
hotels["neg_len_words"] = hotels["neg_clean"].str.split().str.len()
hotels["exclam_cnt"]    = hotels["neg_clean"].str.count(r"!")
hotels["quest_cnt"]     = hotels["neg_clean"].str.count(r"\?")
hotels["caps_ratio"]    = hotels["negative_review"].map(
    lambda s: (sum(c.isupper() for c in s) / max(1, len(s))) if isinstance(s, str) else 0.0
)
hotels["neg_vader"] = hotels["neg_clean"].map(lambda s: sia.polarity_scores(s)["compound"])
#hotels["is_no_negative"] = hotels["neg_clean"].str.fullmatch(r"(?i)no negative").fillna(False).astype("int8") # если отзыв состоит из фразы "No Negative" то он положительный

[nltk_data] Downloading package vader_lexicon to
[nltk_data]     C:\Users\dmytr\AppData\Roaming\nltk_data...
[nltk_data]   Package vader_lexicon is already up-to-date!

In [83]:
# Судя по всему пользователь не мог оставить поле для негативного отзыва пустым, пытаемся найти ситуации, когд негативный отзыв по сути отсутствует

# нормализация: нижний регистр, убираем всё кроме букв/цифр/пробелов, схлопываем пробелы
def _norm(s: str) -> str:
    s = s.lower().strip()
    # уберём урлы/почту на всякий случай
    s = re.sub(r"(https?://\S+)|(\S+@\S+)", " ", s)
    # оставим буквы/цифры/пробелы
    s = re.sub(r"[^a-z0-9\s]", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

# строгие фразы (нормализованные)
STRICT_SET = {
    "no negative", "no negatives", "nothing negative",
    "nothing", "nothing really", "nothing at all", "nothing in particular",
    "no complaints",
    "nothing to dislike", "nothing to complain about", "nothing not to like",
    "absolutely nothing",
    "none", "nil", "na",  # сюда сойдут и "n a"/"n/a" после нормализации
    "all good", "all was good", "nothing all good",
    "everything", "everything was good", "everything was great",
    "everything was perfect", "everything was fine",
    "liked everything", "i liked everything",
    "see above", "as above",
    "no thing",
}

# расширенные (нормализованные)
EXTENDED_SET = {
    "no",                  # ровно "no", не "no parking"
    "leaving", "having to leave",
    "not applicable",
    "non",                 # FR "non" (если строка только это слово)
    "not much",
    "cant think of anything"  # вариант без апострофа
}

# отдельный шаблон для "can't think of anything" с апострофом и вариациями пробелов
CANT_THINK_RE = re.compile(r"\bcan\s*t\s*think\s*of\s*anything\b")

# строки, которые считаем «пустыми» после чистки «декора»
ONLY_DECOR_RE = re.compile(r"^\s*[\(\)\[\]\{\}\-\_\.\,\!\?\/\\\|~\*]+\s*$")

def is_no_negative_text(s: str, use_extended: bool = True) -> int:
    if not isinstance(s, str) or not s.strip():
        return 1  # пустая строка → no negative

    # если одни скобки/декор — считаем пустым
    if ONLY_DECOR_RE.fullmatch(s):
        return 1

    ns = _norm(s)
    if ns == "":
        return 1

    # явные попадания в строгий список
    if ns in STRICT_SET:
        return 1

    # "can't think of anything" с любыми апострофами/пробелами
    if CANT_THINK_RE.search(ns):
        return 1

    # расширенные
    if use_extended and ns in EXTENDED_SET:
        return 1

    return 0

# Применение к колонке (лучше использовать уже очищенный текст, напр. hotels['neg_clean'])
hotels["is_no_negative"] = hotels["neg_clean"].map(lambda x: is_no_negative_text(x, use_extended=True)).astype("int8")

In [84]:
sia = SentimentIntensityAnalyzer()

def clean_text(s: str) -> str:
    if not isinstance(s, str): 
        return ""
    s = s.strip()
    s = re.sub(r"(https?://\S+)|(\S+@\S+)", " ", s)
    s = re.sub(r"[^A-Za-z0-9\s\.\,\!\?\-']", " ", s)
    s = re.sub(r"\s+", " ", s).strip()
    return s

# Очистка текста
hotels["pos_clean"] = hotels["positive_review"].map(clean_text)

# Признаки
hotels["pos_len_chars"] = hotels["pos_clean"].str.len()
hotels["pos_len_words"] = hotels["pos_clean"].str.split().str.len()
hotels["pos_exclam_cnt"] = hotels["pos_clean"].str.count(r"!")
hotels["pos_quest_cnt"]  = hotels["pos_clean"].str.count(r"\?")
hotels["pos_caps_ratio"] = hotels["positive_review"].map(
    lambda s: (sum(c.isupper() for c in s) / max(1, len(s))) if isinstance(s, str) else 0.0
)
hotels["pos_vader"] = hotels["pos_clean"].map(lambda s: sia.polarity_scores(s)["compound"])
hotels["is_no_positive"] = hotels["pos_clean"].str.fullmatch(r"(?i)no positive").fillna(False).astype("int8") # если отзыв состоит из фразы "No Positive" то он отрицательный

In [85]:
# Положительные и отрицательные слова
neg_words = ("dirty","smell","noisy","rude","slow","cold","hot","broken","poor","bad", 'small', 'expensive', 'worst', 'hate', 'terrible', 'awful', 'disappointing', 'disappointed',)
pos_words = ("clean","friendly","quiet","fast","warm","great","excellent","amazing","good","nice", 'quite', 'love', 'loved', 'lovely', 'perfect','perfectly',
             'quiet','spacious','modern', 'again')

def count_any(text, vocab): 
    s = str(text).lower()
    return sum(w in s for w in vocab)

hotels["neg_kw_cnt"] = hotels["neg_clean"].map(lambda s: count_any(s, neg_words))
hotels["pos_kw_cnt"] = hotels["pos_clean"].map(lambda s: count_any(s, pos_words))

### TAGS

In [86]:
hotels['tags'].value_counts()

tags
[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']                              5101
[' Leisure trip ', ' Couple ', ' Standard Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']                     4931
[' Leisure trip ', ' Couple ', ' Superior Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']                     4366
[' Leisure trip ', ' Couple ', ' Deluxe Double Room ', ' Stayed 1 night ', ' Submitted from a mobile device ']                       3991
[' Leisure trip ', ' Couple ', ' Double Room ', ' Stayed 2 nights ', ' Submitted from a mobile device ']                             3291
                                                                                                                                     ...
[' Group ', ' Executive Double Room ', ' Stayed 7 nights ']                                                                             1
[' Leisure trip ', ' Couple ', ' Room with View ', ' Stayed 7 nights ', ' Submitted from a mobile device ']                             1
[' Leisure trip ', ' Solo traveler ', ' Cosy Room ', ' Stayed 4 nights ', ' Submitted from a mobile device ']                           1
[' Leisure trip ', ' Family with young children ', ' Double Room City ', ' Stayed 5 nights ', ' Submitted from a mobile device ']       1
[' Business trip ', ' Family with older children ', ' Premium Double or Twin Room ', ' Stayed 9 nights ']                               1
Name: count, Length: 55242, dtype: int64

Немного поработаем с dtale что бы разобраться, какие в принципе есть теги и отобрали те, которые кажутся наиболее оптимальными

In [87]:
# Преобразуем колонку 'tags' из строки в список
hotels['tags'] = hotels['tags'].apply(eval)

In [88]:
# Функция очистки тегов - убираем пробелы по краям и заменяем пробелы внутри тега на _
def clean_tags(tag_list):
    return [tag.strip().replace(" ", "_") for tag in tag_list]

# Применяем очистку
hotels['tags'] = hotels['tags'].apply(clean_tags)

# Собираем все теги в один длинный список
all_tags = [tag for tag_list in hotels['tags'] for tag in tag_list]

In [89]:
from collections import Counter

tag_counts = Counter(all_tags)
print(tag_counts.most_common(100))

[('Leisure_trip', 417778), ('Submitted_from_a_mobile_device', 307640), ('Couple', 252294), ('Stayed_1_night', 193645), ('Stayed_2_nights', 133937), ('Solo_traveler', 108545), ('Stayed_3_nights', 95821), ('Business_trip', 82939), ('Group', 65392), ('Family_with_young_children', 61015), ('Stayed_4_nights', 47817), ('Double_Room', 35207), ('Standard_Double_Room', 32248), ('Superior_Double_Room', 31393), ('Family_with_older_children', 26349), ('Deluxe_Double_Room', 24823), ('Double_or_Twin_Room', 22393), ('Stayed_5_nights', 20845), ('Standard_Double_or_Twin_Room', 17483), ('Classic_Double_Room', 16989), ('Superior_Double_or_Twin_Room', 13570), ('2_rooms', 12393), ('Stayed_6_nights', 9776), ('Standard_Twin_Room', 9745), ('Single_Room', 9670), ('Twin_Room', 8321), ('Stayed_7_nights', 7399), ('Executive_Double_Room', 6425), ('Classic_Double_or_Twin_Room', 6107), ('Superior_Twin_Room', 6064), ('Deluxe_Double_or_Twin_Room', 5998), ('Club_Double_Room', 5908), ('Queen_Room', 5472), ('Deluxe_King_Room', 5357), ('Superior_Queen_Room', 4898), ('Standard_Single_Room', 4615), ('Junior_Suite', 4559), ('Triple_Room', 4493), ('Superior_Room', 4417), ('Classic_Room', 4416), ('Superior_King_Room', 4248), ('Standard_Room', 4205), ('Deluxe_Room', 3974), ('Standard_Queen_Room', 3533), ('Double_Guest_Room', 3437), ('Deluxe_Single_Room', 3283), ('Small_Double_Room', 3187), ('Queen_Guest_Room', 3125), ('Deluxe_Twin_Room', 3083), ('Basic_Double_Room', 2851), ('King_Room', 2843), ('Comfort_Double_Room', 2641), ('Executive_King_Room', 2631), ('Small_Queen_Room', 2505), ('Stayed_8_nights', 2502), ('Standard_Double_Room_without_Window', 2424), ('Comfort_Double_or_Twin_Room', 2404), ('Double_or_Twin_Room_1_2_Adults', 2391), ('Classic_Twin_Room', 2360), ('Twin_Guest_Room', 2197), ('Family_Room', 2165), ('Travelers_with_friends', 2143), ('Suite', 1897), ('Superior_King_or_Twin_Room', 1831), ('Deluxe_King_or_Twin_Room', 1650), ('Deluxe_Double', 1634), ('King_Guest_Room', 1630), ('Cosy_Double_Room', 1604), ('Standard_Double_Twin_Room', 1420), ('With_a_pet', 1405), ('Club_Twin_Room', 1401), ('Executive_Double_or_Twin_Room', 1395), ('Classic_King_Room', 1318), ('Standard_Triple_Room', 1300), ('Double_Hilton_Guestroom', 1300), ('Executive_Room', 1293), ('Stayed_9_nights', 1293), ('Double_Room_Non_Smoking', 1257), ('Standard', 1231), ('Economy_Double_Room', 1193), ('Large_Double_Room', 1192), ('Quadruple_Room', 1157), ('Luxury_Double_Room', 1149), ('Superior_Single_Room', 1120), ('Superior_Double_Room_with_Internal_View', 1112), ('Classic_Single_Room', 1090), ('Double_Room_with_Two_Double_Beds', 1087), ('Executive_Twin_Room', 1080), ('Dorsett_Double_Room', 1044), ('Premier_Double_Room', 996), ('Studio', 986), ('Superior_Double_or_Twin_Room_1_2_Adults', 971), ('Twin_Hilton_Guest_Room', 951), ('Family_Room_2_Adults_2_Children', 926), ('Studio_King_Family', 925), ('Compact_Double_Room', 913), ('City_King_or_Twin_Room', 897), ('Stayed_10_nights', 889), ('Standard_Room_with_1_Double_Bed', 879), ('Classic_Queen_Room', 791)]

In [90]:
import re
import ast

# На всякий случай: привести колонку к спискам
def to_list_safe(x):
    if isinstance(x, list):
        return x
    if isinstance(x, str):
        try:
            v = ast.literal_eval(x)
            return v if isinstance(v, list) else [x]
        except:
            return [x]
    return []  # None и прочее

hotels["tags"] = hotels["tags"].apply(to_list_safe)

# Чистим пробелы
hotels["tags"] = hotels["tags"].apply(lambda tags: [t.strip() for t in tags if isinstance(t, str)])

# Поиск подстроки (без учёта регистра)
def has_tag(tags, keyword):
    kw = keyword.lower()
    return int(any(kw in (t or "").lower() for t in tags))

# Бинарные признаки
trip_types = ["Leisure trip", "Business trip"]
companions = ["Couple", "Solo traveler", "Family with young children",
              "Family with older children", "Group"]

for t in trip_types:
    hotels[f"trip_{t.replace(' ', '_').lower()}"] = hotels["tags"].apply(lambda x: has_tag(x, t))

for c in companions:
    hotels[f"companion_{c.replace(' ', '_').lower()}"] = hotels["tags"].apply(lambda x: has_tag(x, c))

# Разбор'Stayed X night(s)' через regex
stay_re = re.compile(r"stayed\s+(\d+)\s+night", re.IGNORECASE)

def stay_length(tags):
    for t in tags:
        if not isinstance(t, str):
            continue
        m = stay_re.search(t)
        if m:
            try:
                num = int(m.group(1))
            except:
                continue
            if num == 1:
                return "short"
            elif num <= 3:
                return "medium"
            elif num <= 7:
                return "week"
            else:
                return "long"
    return None

hotels["stay_length"] = hotels["tags"].apply(stay_length)

# Тип номера
room_keywords = ["Suite", "Apartment", "Studio", "Room"]

def room_type(tags):
    low = [(t or "").lower() for t in tags if isinstance(t, str)]
    for kw in room_keywords:
        if any(kw.lower() in t for t in low):
            return kw
    return None

hotels["room_type"] = hotels["tags"].apply(room_type)

# Признаки удобств
def has_kw(tags, kw): 
    return int(any(kw in t.lower() for t in tags))
amenities = ["breakfast", "parking", "spa", "gym", "pool", "airport", "metro", "city_center"]
for kw in amenities:
    hotels[f"tag_{kw}"] = hotels["tags"].apply(lambda ts: has_kw(ts, kw))

In [91]:
# Кодируем длину пребывания в отеле и тип номера
import category_encoders as ce
encoder = ce.OneHotEncoder(cols=["stay_length", "room_type"], use_cat_names=True)
hotels = encoder.fit_transform(hotels)

### days_since_review

In [92]:
# Работаем с days_since_review
hotels["days_since_review"] = hotels["days_since_review"].str.extract(r'(\d+)').astype(int)

### Добавляем разные фичи

In [93]:
# Расстояние до центра города
city_center = {
    "London": (51.5074, -0.1278),
    "Barcelona": (41.3851, 2.1734),
    "Paris": (48.8566, 2.3522),
    "Amsterdam": (52.3676, 4.9041),
    "Vienna": (48.2100, 16.3738),
    "Milan": (45.4642, 9.1900),
}

def haversine(lat1, lon1, lat2, lon2):
    R = 6371.0
    p1, p2 = np.radians(lat1), np.radians(lat2)
    dphi = np.radians(lat2 - lat1)
    dlmb = np.radians(lon2 - lon1)
    a = np.sin(dphi/2)**2 + np.cos(p1)*np.cos(p2)*np.sin(dlmb/2)**2
    return 2*R*np.arcsin(np.sqrt(a))

hotels["dist_center_km"] = hotels.apply(
    lambda r: haversine(r["lat"], r["lng"], *city_center.get(r["city"], (r["lat"], r["lng"]))), axis=1
)

## Кодируем остатки

In [94]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 78 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   hotel_address                               515738 non-null  object
 1   additional_number_of_scoring                515738 non-null  int64
 2   review_date                                 515738 non-null  datetime64[ns]
 3   average_score                               515738 non-null  float64
 4   hotel_name                                  515738 non-null  object
 5   reviewer_nationality                        515738 non-null  object
 6   negative_review                             515738 non-null  object
 7   review_total_negative_word_counts           515738 non-null  int64
 8   total_number_of_reviews                     515738 non-null  int64
 9   positive_review                             515738 non-null  object
 10  review_total_positive_word_counts           515738 non-null  int64
 11  total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 12  tags                                        515738 non-null  object
 13  days_since_review                           515738 non-null  int64
 14  lat                                         515738 non-null  float64
 15  lng                                         515738 non-null  float64
 16  sample                                      515738 non-null  int64
 17  reviewer_score                              515738 non-null  float64
 18  country                                     515738 non-null  object
 19  city                                        515738 non-null  object
 20  year                                        515738 non-null  int32
 21  month                                       515738 non-null  int32
 22  dayofweek                                   515738 non-null  int32
 23  is_weekend                                  515738 non-null  int8
 24  quarter                                     515738 non-null  int32
 25  weekofyear                                  515738 non-null  int16
 26  season_spring                               515738 non-null  bool
 27  season_summer                               515738 non-null  bool
 28  season_winter                               515738 non-null  bool
 29  hotel_reviews_cnt                           515738 non-null  int64
 30  city_reviews_cnt                            515738 non-null  int64
 31  hotel_name_freq                             515738 non-null  int32
 32  hotel_name_te                               515738 non-null  float64
 33  is_domestic                                 515738 non-null  int8
 34  domestic_x_business                         515738 non-null  int8
 35  domestic_x_leisure                          515738 non-null  int8
 36  reviewer_nationality_freq                   515738 non-null  int64
 37  reviewer_nationality_te                     515738 non-null  float64
 38  neg_clean                                   515738 non-null  object
 39  neg_len_chars                               515738 non-null  int64
 40  neg_len_words                               515738 non-null  int64
 41  exclam_cnt                                  515738 non-null  int64
 42  quest_cnt                                   515738 non-null  int64
 43  caps_ratio                                  515738 non-null  float64
 44  neg_vader                                   515738 non-null  float64
 45  is_no_negative                              515738 non-null  int8
 46  pos_clean                                   515738 non-null  object
 47  pos_len_chars                               515738 non-null  int64
 48  pos_len_words                               515738 non-null  int64
 49  pos_exclam_cnt                              515738 non-null  int64
 50  pos_quest_cnt                               515738 non-null  int64
 51  pos_caps_ratio                              515738 non-null  float64
 52  pos_vader                                   515738 non-null  float64
 53  is_no_positive                              515738 non-null  int8
 54  neg_kw_cnt                                  515738 non-null  int64
 55  pos_kw_cnt                                  515738 non-null  int64
 56  trip_leisure_trip                           515738 non-null  int64
 57  trip_business_trip                          515738 non-null  int64
 58  companion_couple                            515738 non-null  int64
 59  companion_solo_traveler                     515738 non-null  int64
 60  companion_family_with_young_children        515738 non-null  int64
 61  companion_family_with_older_children        515738 non-null  int64
 62  companion_group                             515738 non-null  int64
 63  stay_length_nan                             515738 non-null  int64
 64  room_type_Room                              515738 non-null  int64
 65  room_type_Suite                             515738 non-null  int64
 66  room_type_Studio                            515738 non-null  int64
 67  room_type_Apartment                         515738 non-null  int64
 68  room_type_nan                               515738 non-null  int64
 69  tag_breakfast                               515738 non-null  int64
 70  tag_parking                                 515738 non-null  int64
 71  tag_spa                                     515738 non-null  int64
 72  tag_gym                                     515738 non-null  int64
 73  tag_pool                                    515738 non-null  int64
 74  tag_airport                                 515738 non-null  int64
 75  tag_metro                                   515738 non-null  int64
 76  tag_city_center                             515738 non-null  int64
 77  dist_center_km                              515738 non-null  float64
dtypes: bool(3), datetime64[ns](1), float64(11), int16(1), int32(5), int64(41), int8(6), object(10)
memory usage: 263.1+ MB

In [95]:
# кодируем страну
encoder = ce.OneHotEncoder(cols=["country"], use_cat_names=True)
hotels = encoder.fit_transform(hotels)

In [96]:
# кодируем город
encoder = ce.OneHotEncoder(cols=["city"], use_cat_names=True)
hotels = encoder.fit_transform(hotels)

### Дропаем лишнее

In [97]:
#Удаляем все колонки с типом object
hotels = hotels.drop(columns=[col for col in hotels.columns if hotels[col].dtype == 'object'])

In [98]:
# удаляем дату обзора
hotels = hotels.drop(columns=['review_date'])

In [99]:
# Экономим место

# выбираем только int64-колонки
int64_cols = hotels.select_dtypes(include="int64").columns

# фильтруем из них бинарные (только 0/1)
binary_cols = [col for col in int64_cols if hotels[col].dropna().nunique() == 2]

# переводим в int8
hotels = hotels.astype({col: "int8" for col in binary_cols})

In [100]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 79 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   additional_number_of_scoring                515738 non-null  int64
 1   average_score                               515738 non-null  float64
 2   review_total_negative_word_counts           515738 non-null  int64
 3   total_number_of_reviews                     515738 non-null  int64
 4   review_total_positive_word_counts           515738 non-null  int64
 5   total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 6   days_since_review                           515738 non-null  int64
 7   lat                                         515738 non-null  float64
 8   lng                                         515738 non-null  float64
 9   sample                                      515738 non-null  int8
 10  reviewer_score                              515738 non-null  float64
 11  country_Italy                               515738 non-null  int8
 12  country_Netherlands                         515738 non-null  int8
 13  country_Spain                               515738 non-null  int8
 14  country_United Kingdom                      515738 non-null  int8
 15  country_France                              515738 non-null  int8
 16  country_Austria                             515738 non-null  int8
 17  city_Milan                                  515738 non-null  int8
 18  city_Amsterdam                              515738 non-null  int8
 19  city_Barcelona                              515738 non-null  int8
 20  city_London                                 515738 non-null  int8
 21  city_Paris                                  515738 non-null  int8
 22  city_Vienna                                 515738 non-null  int8
 23  year                                        515738 non-null  int32
 24  month                                       515738 non-null  int32
 25  dayofweek                                   515738 non-null  int32
 26  is_weekend                                  515738 non-null  int8
 27  quarter                                     515738 non-null  int32
 28  weekofyear                                  515738 non-null  int16
 29  season_spring                               515738 non-null  bool
 30  season_summer                               515738 non-null  bool
 31  season_winter                               515738 non-null  bool
 32  hotel_reviews_cnt                           515738 non-null  int64
 33  city_reviews_cnt                            515738 non-null  int64
 34  hotel_name_freq                             515738 non-null  int32
 35  hotel_name_te                               515738 non-null  float64
 36  is_domestic                                 515738 non-null  int8
 37  domestic_x_business                         515738 non-null  int8
 38  domestic_x_leisure                          515738 non-null  int8
 39  reviewer_nationality_freq                   515738 non-null  int64
 40  reviewer_nationality_te                     515738 non-null  float64
 41  neg_len_chars                               515738 non-null  int64
 42  neg_len_words                               515738 non-null  int64
 43  exclam_cnt                                  515738 non-null  int64
 44  quest_cnt                                   515738 non-null  int64
 45  caps_ratio                                  515738 non-null  float64
 46  neg_vader                                   515738 non-null  float64
 47  is_no_negative                              515738 non-null  int8
 48  pos_len_chars                               515738 non-null  int64
 49  pos_len_words                               515738 non-null  int64
 50  pos_exclam_cnt                              515738 non-null  int64
 51  pos_quest_cnt                               515738 non-null  int64
 52  pos_caps_ratio                              515738 non-null  float64
 53  pos_vader                                   515738 non-null  float64
 54  is_no_positive                              515738 non-null  int8
 55  neg_kw_cnt                                  515738 non-null  int64
 56  pos_kw_cnt                                  515738 non-null  int64
 57  trip_leisure_trip                           515738 non-null  int64
 58  trip_business_trip                          515738 non-null  int64
 59  companion_couple                            515738 non-null  int8
 60  companion_solo_traveler                     515738 non-null  int64
 61  companion_family_with_young_children        515738 non-null  int64
 62  companion_family_with_older_children        515738 non-null  int64
 63  companion_group                             515738 non-null  int8
 64  stay_length_nan                             515738 non-null  int64
 65  room_type_Room                              515738 non-null  int8
 66  room_type_Suite                             515738 non-null  int8
 67  room_type_Studio                            515738 non-null  int8
 68  room_type_Apartment                         515738 non-null  int8
 69  room_type_nan                               515738 non-null  int8
 70  tag_breakfast                               515738 non-null  int8
 71  tag_parking                                 515738 non-null  int8
 72  tag_spa                                     515738 non-null  int8
 73  tag_gym                                     515738 non-null  int64
 74  tag_pool                                    515738 non-null  int8
 75  tag_airport                                 515738 non-null  int8
 76  tag_metro                                   515738 non-null  int8
 77  tag_city_center                             515738 non-null  int64
 78  dist_center_km                              515738 non-null  float64
dtypes: bool(3), float64(11), int16(1), int32(5), int64(27), int8(32)
memory usage: 177.6 MB

In [101]:
# Эксперимент - дропаем самые слабые признаки
#hotels=hotels.drop(columns=['pos_vader'])

# Финализируем

In [102]:
# Выводим список мультиколлинеарных признаков
# Берем порог 0,75
#def high_corr_pairs(df, corr_thr=0.75):
   #corr = df.corr(numeric_only=True)  # только числовые колонки
   #pairs = []
   #for i in range(len(corr.columns)):
      #for j in range(i+1, len(corr.columns)):
         #if abs(corr.iloc[i, j]) >= corr_thr:
               #pairs.append((corr.columns[i], corr.columns[j], corr.iloc[i, j]))
   #return pairs


#pairs = high_corr_pairs(hotels, corr_thr=0.75)
#for a, b, c in pairs:
   #print(f"{a:20} ~ {b:20} corr={c:.3f}")

Как мы и догадывались - города и страны коррелируют 1 к 1. Удаляем страны.
Есть сильная корреляция между числом слов и символов. Убираем число символов - считаем, что слова показательнее.
убираем число дней после обзора т.к. сильная корреляция с годом
Есть сильная зависимость между числом оценок без отзыва и частотой появления имени отеля. Попробуем убрать число дополнительных отзывов, т.к. имя отеля у нас часть кодирования. День недели коррелирует с фактором выходного дня на 0.831 - удаляем день недели.

In [103]:
hotels=hotels.drop(columns=['additional_number_of_scoring', 'review_total_negative_word_counts','review_total_negative_word_counts','review_total_positive_word_counts',
                           'review_total_positive_word_counts','days_since_review', 'country_Italy','country_Netherlands','country_Spain','country_United Kingdom',
                           'country_France','country_Austria','neg_len_chars','pos_len_chars', 'dayofweek'])

In [104]:
hotels.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 515738 entries, 0 to 515737
Data columns (total 66 columns):
 #   Column                                      Non-Null Count   Dtype
---  ------                                      --------------   -----
 0   average_score                               515738 non-null  float64
 1   total_number_of_reviews                     515738 non-null  int64
 2   total_number_of_reviews_reviewer_has_given  515738 non-null  int64
 3   lat                                         515738 non-null  float64
 4   lng                                         515738 non-null  float64
 5   sample                                      515738 non-null  int8
 6   reviewer_score                              515738 non-null  float64
 7   city_Milan                                  515738 non-null  int8
 8   city_Amsterdam                              515738 non-null  int8
 9   city_Barcelona                              515738 non-null  int8
 10  city_London                                 515738 non-null  int8
 11  city_Paris                                  515738 non-null  int8
 12  city_Vienna                                 515738 non-null  int8
 13  year                                        515738 non-null  int32
 14  month                                       515738 non-null  int32
 15  is_weekend                                  515738 non-null  int8
 16  quarter                                     515738 non-null  int32
 17  weekofyear                                  515738 non-null  int16
 18  season_spring                               515738 non-null  bool
 19  season_summer                               515738 non-null  bool
 20  season_winter                               515738 non-null  bool
 21  hotel_reviews_cnt                           515738 non-null  int64
 22  city_reviews_cnt                            515738 non-null  int64
 23  hotel_name_freq                             515738 non-null  int32
 24  hotel_name_te                               515738 non-null  float64
 25  is_domestic                                 515738 non-null  int8
 26  domestic_x_business                         515738 non-null  int8
 27  domestic_x_leisure                          515738 non-null  int8
 28  reviewer_nationality_freq                   515738 non-null  int64
 29  reviewer_nationality_te                     515738 non-null  float64
 30  neg_len_words                               515738 non-null  int64
 31  exclam_cnt                                  515738 non-null  int64
 32  quest_cnt                                   515738 non-null  int64
 33  caps_ratio                                  515738 non-null  float64
 34  neg_vader                                   515738 non-null  float64
 35  is_no_negative                              515738 non-null  int8
 36  pos_len_words                               515738 non-null  int64
 37  pos_exclam_cnt                              515738 non-null  int64
 38  pos_quest_cnt                               515738 non-null  int64
 39  pos_caps_ratio                              515738 non-null  float64
 40  pos_vader                                   515738 non-null  float64
 41  is_no_positive                              515738 non-null  int8
 42  neg_kw_cnt                                  515738 non-null  int64
 43  pos_kw_cnt                                  515738 non-null  int64
 44  trip_leisure_trip                           515738 non-null  int64
 45  trip_business_trip                          515738 non-null  int64
 46  companion_couple                            515738 non-null  int8
 47  companion_solo_traveler                     515738 non-null  int64
 48  companion_family_with_young_children        515738 non-null  int64
 49  companion_family_with_older_children        515738 non-null  int64
 50  companion_group                             515738 non-null  int8
 51  stay_length_nan                             515738 non-null  int64
 52  room_type_Room                              515738 non-null  int8
 53  room_type_Suite                             515738 non-null  int8
 54  room_type_Studio                            515738 non-null  int8
 55  room_type_Apartment                         515738 non-null  int8
 56  room_type_nan                               515738 non-null  int8
 57  tag_breakfast                               515738 non-null  int8
 58  tag_parking                                 515738 non-null  int8
 59  tag_spa                                     515738 non-null  int8
 60  tag_gym                                     515738 non-null  int64
 61  tag_pool                                    515738 non-null  int8
 62  tag_airport                                 515738 non-null  int8
 63  tag_metro                                   515738 non-null  int8
 64  tag_city_center                             515738 non-null  int64
 65  dist_center_km                              515738 non-null  float64
dtypes: bool(3), float64(11), int16(1), int32(4), int64(21), int8(26)
memory usage: 149.0 MB

In [105]:
# Теперь выделим тестовую часть
train_data = hotels.query('sample == 1').drop(['sample'], axis=1)
test_data = hotels.query('sample == 0').drop(['sample'], axis=1)

y = train_data.reviewer_score.values            # наш таргет
X = train_data.drop(['reviewer_score'], axis=1)

In [106]:
# Воспользуемся специальной функцие train_test_split для разбивки тестовых данных
# выделим 20% данных на валидацию (параметр test_size)
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=RANDOM_SEED)

In [107]:
# проверяем
test_data.shape, train_data.shape, X.shape, X_train.shape, X_test.shape

((128935, 65), (386803, 65), (386803, 64), (309442, 64), (77361, 64))

In [108]:
# сколько колонок?
print(len(hotels.select_dtypes("number").columns))
# общий размер
print(hotels.memory_usage(deep=True).sum()/1024**3, "GB")
# самые прожорливые столбцы
print(hotels.memory_usage(deep=True).sort_values(ascending=False).head(10))

63
0.14553661085665226 GB
average_score                                 4125904
total_number_of_reviews                       4125904
total_number_of_reviews_reviewer_has_given    4125904
stay_length_nan                               4125904
lat                                           4125904
lng                                           4125904
reviewer_score                                4125904
quest_cnt                                     4125904
hotel_name_te                                 4125904
city_reviews_cnt                              4125904
dtype: int64

In [110]:
# === AUTO FEATURE SELECTION (light RAM): variance -> linear corr-filter -> RF screen -> PI(MAPE, threaded) ===
import numpy as np
import pandas as pd
from sklearn.feature_selection import VarianceThreshold
from sklearn.model_selection import GroupKFold, KFold
from sklearn.ensemble import RandomForestRegressor
from sklearn.inspection import permutation_importance
from sklearn.impute import SimpleImputer
from sklearn.metrics import make_scorer
from joblib import parallel_backend

# Настройки
TARGET_COL = "reviewer_score"
GROUP_COL  = "hotel_name" if "hotel_name" in hotels.columns else None
N_SPLITS   = 3           # умеренный CV, чтобы не раздуть RAM
N_REPEATS  = 2           # повторы для PI
TOPK_SCREEN = 120        # сколько кандидатов после быстрого RF-экрана
TOPK_FINAL  = 50         # финальный лимит фич
N_JOBS_PI   = 8          # потоки для permutation_importance

# 0) только строки с таргетом
train_mask = hotels[TARGET_COL].notna()

# 1) числовые признаки (без таргета)
num_cols = hotels.select_dtypes(include=[np.number]).columns.tolist()
if TARGET_COL in num_cols:
    num_cols.remove(TARGET_COL)

X_all = hotels.loc[train_mask, num_cols].copy()
y_all = hotels.loc[train_mask, TARGET_COL].astype(float).copy()
groups = hotels.loc[train_mask, GROUP_COL] if GROUP_COL else None

# 2) дроп констант/почти констант
def drop_low_variance(X, thr=0.0):
    sel = VarianceThreshold(threshold=thr)
    sel.fit(np.nan_to_num(X.values, copy=True))
    kept = X.columns[sel.get_support(indices=True)]
    return X[kept]

X1 = drop_low_variance(X_all, 0.0)

# 3) linear corr-filter (без полной матрицы corr(X)): память O(p), а не O(p^2)
def corr_filter_linear(X, thr=0.95):
    cols = X.columns.tolist()
    keep, dropped = [], set()
    for i, c in enumerate(cols):
        if c in dropped:
            continue
        keep.append(c)
        tail = [t for t in cols[i+1:] if t not in dropped]
        if not tail:
            continue
        cw = X[tail].corrwith(X[c]).abs()
        bad = cw[cw >= thr].index.tolist()
        dropped.update(bad)
    return X[keep], sorted(list(dropped))

X2, dropped_corr = corr_filter_linear(X1, thr=0.95)

# 3.1) Даункаст до float32 (в 2 раза экономнее по памяти)
for c in X2.columns:
    if pd.api.types.is_float_dtype(X2[c]):
        X2[c] = X2[c].astype("float32")

# 4) двухступенчатый отбор под MAPE
imp = SimpleImputer(strategy="constant", fill_value=0.0)

# 4.1) быстрый RF-screen (impurity FI) -> кандидаты
X2_imp = imp.fit_transform(X2)
rf_screen = RandomForestRegressor(n_estimators=200, n_jobs=-1, random_state=42)
rf_screen.fit(X2_imp, y_all)
fi = pd.Series(rf_screen.feature_importances_, index=X2.columns).sort_values(ascending=False)
candidates = fi.head(min(TOPK_SCREEN, len(fi))).index.tolist()
X3 = X2[candidates].copy()  # (на всякий случай, если пригодится)

# 4.2) Permutation Importance по MAPE только на кандидатах (параллелим потоками)
def safe_mape(y_true, y_pred, eps=1e-3):
    y_true = np.asarray(y_true, float)
    y_pred = np.asarray(y_pred, float)
    denom = np.maximum(np.abs(y_true), eps)
    return np.mean(np.abs((y_true - y_pred) / denom)) * 100.0

mape_scorer = make_scorer(safe_mape, greater_is_better=False)

def pi_cv_importance_on_candidates(X, y, cols, groups=None, n_splits=3, n_repeats=2, n_jobs=8, random_state=42):
    cv = GroupKFold(n_splits) if groups is not None else KFold(n_splits, shuffle=True, random_state=random_state)
    cols = list(cols)
    imp_sum = np.zeros(len(cols), dtype=float)

    for tr, va in cv.split(X, y, groups):
        Xtr = imp.fit_transform(X.iloc[tr][cols]).astype("float32")
        Xva = imp.transform(X.iloc[va][cols]).astype("float32")
        ytr, yva = y.iloc[tr].values, y.iloc[va].values

        est = RandomForestRegressor(n_estimators=300, n_jobs=-1, random_state=random_state)
        est.fit(Xtr, ytr)

        # Поточный backend -> не форкаем процессы, нет PicklingError
        with parallel_backend("threading", n_jobs=n_jobs):
            pi = permutation_importance(
                est, Xva, yva,
                scoring=mape_scorer,
                n_repeats=n_repeats,
                random_state=random_state,
                n_jobs=n_jobs
            )
        imp_sum += pi.importances_mean

    imp_mean = imp_sum / n_splits
    df = pd.DataFrame({"feature": cols, "importance": imp_mean}).sort_values("importance", ascending=False)
    total = df["importance"].clip(lower=0).sum()
    df["importance_norm"] = df["importance"].clip(lower=0) / (total if total > 0 else 1.0)
    df["cum_importance"]  = df["importance_norm"].cumsum()
    return df

importances_df = pi_cv_importance_on_candidates(
    X2, y_all, candidates, groups=groups,
    n_splits=N_SPLITS, n_repeats=N_REPEATS, n_jobs=N_JOBS_PI, random_state=42
)

# 5) финальный набор фич (компактный)
selected_features = importances_df.loc[
    (importances_df["cum_importance"] <= 0.95) | (importances_df.index < TOPK_FINAL),
    "feature"
].head(TOPK_FINAL).tolist()

# 6) матрицы для обучения / инференса
X_train = hotels.loc[train_mask, selected_features].copy()
X_test  = hotels.loc[~train_mask, selected_features].copy()

print(f"[AFS] dropped_by_corr: {len(dropped_corr)} | candidates: {len(candidates)} | final: {len(selected_features)}")
print("Примеры:", selected_features[:15])

C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")
C:\Users\dmytr\AppData\Local\Temp\ipykernel_22504\4003861402.py:63: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  X2[c] = X2[c].astype("float32")

[AFS] dropped_by_corr: 4 | candidates: 44 | final: 44
Примеры: ['sample', 'pos_vader', 'is_no_negative', 'neg_len_words', 'average_score', 'pos_len_words', 'neg_vader', 'neg_kw_cnt', 'pos_caps_ratio', 'hotel_name_te', 'reviewer_nationality_te', 'caps_ratio', 'pos_kw_cnt', 'total_number_of_reviews_reviewer_has_given', 'reviewer_nationality_freq']

In [114]:
# --- Итоги отбора: кто и где отвалился/остался ---
all_num        = set(X_all.columns)        # все числовые фичи до отбора
kept_lv        = set(X1.columns)           # после low-variance
kept_corr      = set(X2.columns)           # после corr_filter_linear
screen_cand    = set(candidates)           # прошли быстрый RF-screen
kept_final     = set(selected_features)    # финальные фичи

dropped_const  = sorted(all_num  - kept_lv)          # константы/квазиконстанты
# если переменная dropped_corr у тебя уже есть — можно использовать её;
# на всякий пересчитаем из X1 -> X2:
dropped_corr_2 = sorted(set(X1.columns) - kept_corr)
dropped_corr   = dropped_corr if 'dropped_corr' in globals() else dropped_corr_2

dropped_screen = sorted(kept_corr   - screen_cand)   # отсеяны на экране (не попали в topK)
dropped_pi     = sorted(screen_cand - kept_final)    # отсеяны permutation importance

print(f"Константы: {len(dropped_const)}")
print(f"Корреляция: {len(dropped_corr)} -> {dropped_corr[:10]}")
print(f"Отсев screen (RF topK): {len(dropped_screen)} -> {dropped_screen[:10]}")
print(f"Отсев PI(MAPE): {len(dropped_pi)} -> {dropped_pi[:10]}")
print(f"Финальные (kept): {len(kept_final)} -> {sorted(list(kept_final))[:10]}")

# аккуратный отчёт по стадиям
rows = []
rows += [(f, "dropped_const")     for f in dropped_const]
rows += [(f, "dropped_corr")      for f in dropped_corr]
rows += [(f, "dropped_screen")    for f in dropped_screen]
rows += [(f, "dropped_after_PI")  for f in dropped_pi]
rows += [(f, "kept_final")        for f in sorted(kept_final)]

feature_selection_report = pd.DataFrame(rows, columns=["feature", "stage"])

# удобно посмотреть/сохранить:
display(feature_selection_report.groupby("stage").size())
display(feature_selection_report.head(20))
# feature_selection_report.to_csv("feature_selection_report.csv", index=False)

Константы: 14
Корреляция: 4 -> ['city_reviews_cnt', 'hotel_name_freq', 'quarter', 'weekofyear']
Отсев screen (RF topK): 0 -> []
Отсев PI(MAPE): 0 -> []
Финальные (kept): 44 -> ['average_score', 'caps_ratio', 'city_Amsterdam', 'city_Barcelona', 'city_London', 'city_Milan', 'city_Paris', 'city_Vienna', 'companion_couple', 'companion_group']

stage
dropped_const    14
dropped_corr      4
kept_final       44
dtype: int64

                                 feature          stage
0   companion_family_with_older_children  dropped_const
1   companion_family_with_young_children  dropped_const
2                companion_solo_traveler  dropped_const
3                    domestic_x_business  dropped_const
4                     domestic_x_leisure  dropped_const
5                             exclam_cnt  dropped_const
6                         pos_exclam_cnt  dropped_const
7                          pos_quest_cnt  dropped_const
8                              quest_cnt  dropped_const
9                        stay_length_nan  dropped_const
10                       tag_city_center  dropped_const
11                               tag_gym  dropped_const
12                    trip_business_trip  dropped_const
13                     trip_leisure_trip  dropped_const
14                      city_reviews_cnt   dropped_corr
15                       hotel_name_freq   dropped_corr
16                               quarter   dropped_corr
17                            weekofyear   dropped_corr
18                         average_score     kept_final
19                            caps_ratio     kept_final

In [111]:
# Импортируем необходимые библиотеки:
from sklearn.ensemble import RandomForestRegressor # инструмент для создания и обучения модели
from sklearn import metrics # инструменты для оценки точности модели

In [112]:
# Создаём модель (НАСТРОЙКИ НЕ ТРОГАЕМ)
model = RandomForestRegressor(n_estimators=100, verbose=1, n_jobs=-1, random_state=RANDOM_SEED)

In [113]:
# Обучаем модель на тестовом наборе данных
model.fit(X_train, y_train)

# Используем обученную модель для предсказания рейтинга ресторанов в тестовой выборке.
# Предсказанные значения записываем в переменную y_pred
y_pred = model.predict(X_test)

ValueError: Found input variables with inconsistent numbers of samples: [515738, 309442]

In [ ]:
# Сравниваем предсказанные значения (y_pred) с реальными (y_test), и смотрим насколько они в среднем отличаются
# Метрика называется Mean Absolute Error (MAE) и показывает среднее отклонение предсказанных значений от фактических.
print('MAPE:', metrics.mean_absolute_error(y_test, y_pred))

In [ ]:
# в RandomForestRegressor есть возможность вывести самые важные признаки для модели
plt.rcParams['figure.figsize'] = (10,10)
feat_importances = pd.Series(model.feature_importances_, index=X.columns)
feat_importances.nlargest(15).plot(kind='barh')

In [ ]:
test_data.sample(10)

In [ ]:
test_data = test_data.drop(['reviewer_score'], axis=1)

In [ ]:
sample_submission

In [ ]:
predict_submission = model.predict(test_data)

In [ ]:
predict_submission

In [ ]:
list(sample_submission)

In [ ]:
sample_submission['reviewer_score'] = predict_submission
sample_submission.to_csv('submission.csv', index=False)
sample_submission.head(10)